<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- includes %>
    <title><%= title%></title>
    <%- reachdeck %>
    <%- head_end %>
  </head>
  <body>
  <%- header %>
  <%- breadcrumb %>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-8">
          <div class="cec-main-col-width">
            <h1><%= h1 %></h1>
            <div><%- introductoryText %></div>
          </div>
        </div>
      </div>
      <div id="app" class="mt-3"><%- html %></div>
    </div>
    <%- footer %>
    <%- cookies %>
    <%- site_search %>
  </body>
</html>
