<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="<%= description %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- includes %>
    <title><%= title%></title>
    <%- reachdeck %>
    <%- head_end %>
  </head>
  <%- header %>
  <body>
    <div class="cec-breadcrumb-bg">
      <div class="container">
        <div class="row">
          <div class="col">
            <nav class="no-print-url" aria-label="breadcrumb">
              <ol class="breadcrumb cec-breadcrumb my-0 py-2">
                <li class="breadcrumb-item">
                  <a href="/home.aspx">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/housing/housing.aspx">Housing</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="/housing/private_sector_housing/private_sector_housing.aspx"
                    >Private Sector Housing</a
                  >
                </li>
                    <li class="breadcrumb-item">
                      <a
                        href="/housing/private_sector_housing/houses_in_multiple_occupation/houses_in_multiple_occupation.aspx"
                        >Advice on standards and safety in Houses in multiple Occupation</a
                      >
                    </li>
                        <li class="breadcrumb-item">Licensed HMO register</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-3">
      <div class="row">
        <div class="col-lg-8">
          <div class="cec-main-col-width">
            <h1><%= h1 %></h1>
            <div><%- introductoryText %></div>
          </div>
        </div>
      </div>
      <div id="app" class="mt-3"><%- html %></div>
    </div>
    <%- footer %>
    <%- cookies %>
    <%- site_search %>
  </body>
</html>
